*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/hot
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db

# --- Laravel Defaults ---
/node_modules
/public/storage
/vendor
.env
.env.testing
npm-debug.log
yarn-error.log

# --- Storage and Framework Cache ---
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# --- Bootstrap Cache ---
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
